@using ModalMVC.Views.Shared

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <component type="typeof(Counter)" render-mode="ServerPrerendered" />
</div>
<br/>

<div>
    <component type="typeof(ButtonAddModal)" render-mode="ServerPrerendered" />
</div>
<br/>

